body {
  margin: 0;
  background-color: white;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body a:visited {
  color: white;
}

/* Navbar */
nav {
  background-color: rgb(184, 21, 21);
}

.navbar-brand {
  color: white;
  font-weight: 700;
  animation-name: logo;
  animation-duration: 2s;
  animation-iteration-count: infinite;

  &:hover {
    color: rgba(255, 255, 255, 0.7);
  }
}

.nav-link {
  color: white;
  border-radius: 50px;
  margin: 0px 5px;
  transition: background-color 0.7s ease;

  &:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.active-link {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50px;

  &:hover {
    color: white;
  }
}

.navbar:hover .active-link:not(:hover) {
  background-color: transparent;
  transition: background-color 0.7s ease;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  transition: background-color 0.7s ease;
}

/* Seccion */
section {
  height: 400px;
  background-image: url(./Imagenes/fondo\ seccion.jpg);
  background-size: 100vw 50vh;
}

section h2,
h3 {
  text-shadow: black 0px 0 10px;
}

.info {
  color: white;
  width: 600px;
  margin: 0 auto 0 auto;
  padding-top: 130px;
  text-align: center;

  h2 {
    font-weight: 800;
  }
}

.desc {
  color: black;
  padding: 40px 100px 40px 100px;

  span {
    font-weight: 700;
  }

  .vanguardia {
    margin-bottom: 50px;
  }
}

/* Pagina Empresa */
.contenedor {
  width: 80%;
  margin: 50px auto 80px auto;

  h2,
  p {
    color: black;
  }

  h2 {
    margin-bottom: 18px;
  }

  span {
    font-weight: bold;
  }
}

.mision,
.vision {
  margin-bottom: 75px;
}

.mision-vision-politica img {
  width: 400px;
}

/* Footer */
footer {
  height: 300px;
  background-color: #1a1a1a;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer h2 {
  font-size: 40px;
}

footer p {
  font-size: 23px;
  font-weight: 600;
}

footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  font-size: 18px;
}

footer a {
  text-decoration: none;
  transition: ease-out 0.3s;
  color: white;

  &:visited {
    color: white;
  }
}

i {
  display: flex;
  align-content: center;
}

.links:hover {
  color: rgb(255, 70, 70);

  i {
    color: rgb(255, 70, 70);
  }
}

@media (width <=850px) {
  footer h2 {
    display: none;
  }
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  justify-content: center;
}

.card {
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 12px 13px 24px 1px rgba(0, 0, 0, 0.67);
}

/* .productos-destacados {
  margin-bottom: 100px;
} */

/* Productos */
.buscador {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.search-box {
  position: relative;
  width: fit-content
}

.search-box i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.search-input {
  background: none;
  border: none;
  border-bottom: 2px solid red;
  outline: none;
  width: 180px;
  transition: width 0.7s ease;
  text-indent: 20px;
}

.search-input:focus {
  width: 250px;
}

select {
  background: none;
  border: none;
  margin-left: 10px;
  transition: all 0.7s;
}