<footer class="footer">
    <div class="footer__img">
        <img src="/assets/img/misc/ipisa-logo.png" height="200" />
    </div>
    <div class="footer__info">
        <div class="footer__enlaces">
            <h5 class="footer__titulo">Enlaces</h5>
            <ul class="footer__list">
                <li class="footer__item">
                    <a href="/index.html" class="footer__link">
                        <i class="bx bx-home-alt-2"></i>
                        Inicio
                    </a>
                </li>
                <li class="footer__item">
                    <a href="/productos.html" class="footer__link">
                        <i class='bx  bx-package'    ></i> 
                        Productos
                    </a>
                </li>
                <li class="footer__item">
                    <a href="/servicios.html" class="footer__link">
                        <i class='bx  bx-spanner'    ></i> 
                        Servicios
                    </a>
                </li>
                <li class="footer__item">
                    <a href="/nosotros.html" class="footer__link">
                        <i class="bx bx-buildings"></i>
                        Nosotros
                    </a>
                </li>
                <li class="footer__item">
                    <a href="/contacto.html" class="footer__link">
                        <i class="bx bxs-user"></i>
                        Contacto
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer__social">
            <h5 class="footer__titulo">Contactanos</h5>
            <ul class="footer__list">
                <li class="footer__item">
                    <a class="footer__text">
                        <i class="bx bx-envelope"></i>
                        Correo
                    </a>
                </li class="footer__item">
                <li>
                    <a class="footer__text">david.rodriguez@ipisagroup.com</a=>
                </li>
                <li class="footer__item">
                    <a class="footer__text">
                        <i class="bx bxs-phone"></i>
                        Teléfono
                    </a>
                </li>
                <li class="footer__item">
                    <a class="footer__text">55 3198 8819</a>
                </li>
            </ul>
        </div>
    </div>
</footer>