<footer>
    <div class="img">
        <img src="/assets/img/misc/ipisa-logo.png" height="200" />
    </div>
    <div class="info">
        <div class="enlaces">
            <h5>Enlaces</h5>
            <ul>
                <li>
                    <a href="/index.html" class="links">
                        <i class="bx bx-home-alt-2"></i>
                        Inicio
                    </a>
                </li>
                <li>
                    <a href="/productos.html" class="links">
                        <i class='bx  bx-package'    ></i> 
                        Productos
                    </a>
                </li>
                <li>
                    <a href="/servicios.html" class="links">
                        <i class='bx  bx-spanner'    ></i> 
                        Servicios
                    </a>
                </li>
                <li>
                    <a href="/nosotros.html" class="links">
                        <i class="bx bx-buildings"></i>
                        Nosotros
                    </a>
                </li>
                <li>
                    <a href="/contacto.html" class="links">
                        <i class="bx bxs-user"></i>
                        Contacto
                    </a>
                </li>
            </ul>
        </div>
        <div class="social">
            <h5>Contactanos</h5>
            <ul>
                <li>
                    <a>
                        <i class="bx bx-envelope"></i>
                        Correo
                    </a>
                </li>
                <li>
                    <a>david.rodriguez@ipisagroup.com</a>
                </li>
                <li>
                    <a>
                        <i class="bx bxs-phone"></i>
                        Teléfono
                    </a>
                </li>
                <li>
                    <a>55 555 555</a>
                </li>
            </ul>
        </div>
    </div>
</footer>