<footer class="footer">
    <div class="footer__img">
        <!-- <img src="/assets/img/misc/ipisa-logo.png" height="200" /> -->
        <img src="/assets/img/misc/ipisa-bulkpro-logo.png" height="200" />
    </div>
    <div class="footer__info">
        <div class="footer__enlaces">
            <h5 class="footer__titulo">Enlaces</h5>
            <ul class="footer__list">
                <li class="footer__item">
                    <a href="/index.html" class="footer__link">
                        <i class="bx bx-home-alt-2"></i>
                        Inicio
                    </a>
                </li>
                <li class="footer__item">
                    <a href="/productos.html" class="footer__link">
                        <i class='bx  bx-package'></i>
                        Productos
                    </a>
                </li>
                <li class="footer__item">
                    <a href="/servicios.html" class="footer__link">
                        <i class='bx  bx-spanner'></i>
                        Servicios
                    </a>
                </li>
                <li class="footer__item">
                    <a href="/nosotros.html" class="footer__link">
                        <i class="bx bx-buildings"></i>
                        Nosotros
                    </a>
                </li>
                <li class="footer__item">
                    <a href="/contacto.html" class="footer__link">
                        <i class="bx bxs-user"></i>
                        Contacto
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer__contactos">
            <h5 class="footer__titulo">Contáctanos</h5>
            <div class="footer__contacto">
                <p class="footer__text"><i class='bx  bx-business'></i> Ventas </p>
                <p class="footer__text"><i class="bx bx-envelope"></i> david.rodriguez@ipisagroup.com </p>
                <p class="footer__text"><img src="/assets/icons/bx-whatsapp.svg" /> 55 3198 8819 </p>
            </div>
            <div class="footer__contacto">
                <p class="footer__text"><i class='bx  bx-business'></i> Planta </p>
                <p class="footer__text"><i class="bx bx-envelope"></i> contacto@ipisagroup.com </p>
                <p class="footer__text"><img src="/assets/icons/bx-whatsapp.svg" /> 55 7868 1056 </p>
            </div>
        </div>
    </div>
</footer>
