<nav class="navbar navbar-expand-lg">
    <div class="container-fluid" justify-content-center align-items-center>
        <a class="navbar-brand" href="/index.html">
            <img src="/assets/img/misc/ipisa-logo.png" width="120" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
            </ul>
            <ul class="navbar-nav ms-auto me-auto">
                <li class="nav-item">
                    <a class="nav-link fs-5" aria-current="page" href="/index.html" id="index">
                        <i class="bx bx-home-alt-2"></i>
                        Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-5" href="/productos.html">
                        <i class='bx  bx-package'    ></i> 
                        Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-5" href="/servicios.html">
                        <i class='bx  bx-spanner'    ></i> 
                        Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-5" aria-current="page" href="/nosotros.html" id="index">
                        <i class="bx bx-buildings"></i>
                        Nosotros</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a href="/contacto.html" class="nav-button btn btn-danger fs-6">Contactanos</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
