body {
    margin: 0;
    background-color: #ebebeb;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    max-width: 100dvw;
}
body::-webkit-scrollbar {
    display: none;
}
body a {
    text-decoration: none;
}
body a:visited {
    color: #ffffff;
}

/* Preloader */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.spinner {
    border: 6px solid #eee;
    border-top: 6px solid rgb(184, 21, 21);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: girar 1s linear infinite;
}

@keyframes girar {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Navbar */

#nav {
    background-color: #1a1a1a;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar-brand {
    color: white;
    font-weight: 700;
    animation-name: logo;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.navbar-brand:hover {
    color: #ffffffb3;
}

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: white;
    border-radius: 50px;
    margin: 0px 5px;
    transition: background-color 0.7s ease;
}
.nav-link:hover {
    color: #ffffff;
    background-color: #ffffff33;
}

.nav-boton {
    margin: 10px 0;
    color: #ffffff;
    background-color: #ff4646;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: all 0.2s ease;
}
.nav-boton:hover {
    background-color: #b53030;
}
.nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    background-color: #ff4646;
}
.nav-button:hover {
    background-color: #b53030;
}

.active-link {
    background-color: #ffffff33;
    border-radius: 50px;
}
.active-link:hover {
    color: #ffffff;
}

.navbar:hover .active-link:not(:hover) {
    background-color: transparent;
    transition: background-color 0.7s ease;
}

.nav-link:hover {
    background-color: #ffffff33;
    color: #ffffff;
    transition: background-color 0.7s ease;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler,
.navbar-toggler-icon {
    color: #000000;
    background-color: none;
    border: none;
}

.cards-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    width: 100%;
}

@media (width <= 1396px) {
    .cards-grid {
        justify-content: center;
    }
}

.product-card {
    background-color: #ffffff;
    width: 300px;
    height: 530px;
    padding: 25px;
    border-radius: 20px;
    transition: all 0.2s ease;
    .image {
        height: 250px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        img {
            width: 250px;
        }
    }
    .category {
        height: 60px;
        display: flex;
        align-items: end;
        p {
            margin: 0 0 10px 0;
            font-size: 14px;
            font-weight: bolder;
            color: #ff4646;
        }
    }
    .title {
        height: 80px;
        display: flex;
        p {
            margin: 0;
            font-size: 18px;
            font-weight: bold;
        }
    }
    .info {
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        button {
            font-weight: bolder;
            color: #ffffff;
            border-radius: 5px;
            padding: 10px;
            border: none;
            outline: none;
            background-color: #ff4646;
            transition: all 0.2s ease;
            &:hover {
                background-color: #b53030;
            }
        }
    }
    &:hover {
        cursor: pointer;
        transform: scale(1.01);
        box-shadow: #000000ab;
    }
}

@keyframes pop-up {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale (1);
    }
}



#error-buscador {
    font-size: 25px;
    text-align: center;
    margin: 21vh 0;
}

/* Categorias */
.nuestros-productos h2 {
    margin: 0 0 30px 0;
}
.categories:not(invisible) { 
    margin: 0 0 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
    /* Card */
    .category {
        background-color: #ffffff;
        height: 150px;
        width: 410px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 20px;
        transition: all 0.3s ease;
        .image {
            width: 200px;
            display: flex;
            justify-content: start;
            img {
                width: 110px;
                height: 110px;
                border-radius: 10px;
            }
        }
        .title {
            display: flex;
            align-items: center;
            justify-content: center;
            p {
                margin: 0;
                font-weight: 500;
                font-size: 20px;
            }
        }
        &:hover {
            cursor: pointer;
            transform: scale(1.05);
            box-shadow: 0px 13px 24px 1px rgba(0, 0, 0, 0.67);
        }
    }
}

/* Footer */
footer {
    position: relative;
    height: 300px;
    background-color: #1a1a1a;
    color: white;
    display: flex;
    align-items: center;
    margin-top: 100px;
    z-index: 999;
}
footer h5 {
    text-align: center;
    margin: 0 0 15px 0;
}
footer h2 {
    font-size: 40px;
}
footer p {
    display: inline;
    margin: 0;
}
footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
}
footer a {
    margin: 5px 0;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    gap: 5px;
}
footer a:visited {
    color: white;
}
footer a, p {
    font-size: 20px;
}
footer .img {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 50%;
}
footer .info {
    display: flex;
    justify-content: space-around;
    width: 50%;
}
footer .enlaces {
    display: flex;
    flex-direction: column;
}
footer .links {
    transition: ease-out 0.3s;
}
footer .links:hover {
    color: #ff4646;
}
footer .links:hover i {
    color: #ff4646;
}

@media (width <= 990px) {
    footer .img {
        display: none;
    }
    footer .info {
        width: 100%;
    }
}

@media (width <=600px) {
    footer .enlaces {
        display: none;
    }
}