.categoria-encabezado {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.categoria-encabezado__bg {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    object-position: center;
    filter: brightness(0.3);
    z-index: -1;
}
.categoria-encabezado__desc {
    color: #ffffff;
}
.categoria-encabezado__titulo {
    margin: 0;
    font-weight: 700;
}
.categoria-encabezado__texto {
    margin: 0;
    font-weight: 500;
}

.categoria-info__texto {
    height: 160px;
    overflow: hidden;
    background: linear-gradient(to bottom, transparent, #e0e0e0);
    transition: all 0.3s ease;
}
.categoria-info__texto.expandido {
    transition: all 0.3s ease;
    height: auto;
}
.categoria-info__accion {
    display: flex;
    justify-content: center;
}
.categoria-info__boton {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
    outline: none;
    border: none;
    transition: all 0.2s ease;
}
.categoria-info__boton:hover {
    cursor: pointer;
    background-color: #ebebeb;
}

.categoria-info__productos {
    margin-top: 40px;
}
.categoria-info__productos-titulo {
    margin: 0 0 30px 0;
}



@media (width <= 766px) {
    .categoria-encabezado {
        height: 320px;
    }
    .categoria-encabezado__titulo {
        margin: 0 0 30px 0;
    }
    .categoria-encabezado__texto {
        font-size: 18px;
    }
    .categoria-info__texto {
        font-size: 18px;
    }
}
@media (width <= 570px) {
    .categoria-encabezado__titulo {
        text-align: center;
    }
    .categoria-info__texto {
        font-size: 16px;
    }
}