.servicios-encabezado {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    color: #ffffff;
}
.servicios-encabezado__bg {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    object-position: center;
    filter: brightness(0.3);
    z-index: -1;
}
.servicios-encabezado__titulo {
    font-weight: 700;
    margin: 0 0 10px 0;
    text-shadow: 0 0 20px #ffffff;
}
.servicios-encabezado__texto {
    margin: 0;
}

.servicios {
    display: flex;
    flex-direction: column;
}
.servicios__titulo {
    font-weight: 600;
    margin: 0 0 20px 0;
}
.servicios__desc {
    display: flex;
    gap: 30px;
    margin: 0 0 30px 0;
}
.servicios__lista {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 20px;
    transition: all 0.2s ease;
}
.servicios__lista:hover {
    transform: scale(1.01);
}
.servicios__texto {
    font-size: 20px;
}
.servicios__garantia {
    font-size: 18px;
    text-align: center;
}
.servicios__contacto {
    margin: 30px 0 15px 0;
    font-weight: 500;
    text-align: center;
}
.servicios__boton {
    background-color: #ff4646;
    color: #ffffff;
    margin: 0 auto;
    width: 300px;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: all 0.2s ease;
}
.servicios__boton:hover {
    background-color: #b53030;
}

@media (width <= 770px) {
    .servicios-encabezado__texto {
        font-size: 18px;
    }
    .servicios__desc {
        flex-direction: column;
    }
    .servicios__texto {
        font-size: 18px;
    }
    .servicios__garantia {
        font-size: 16px;
    }
    .servicios__contacto {
        font-size: 16px;
    }
    .servicios__boton {
        font-size: 16px;
    }
}
@media (width <= 570px) {
    .servicios__texto {
        font-size: 16px;
    }
    .servicios-encabezado__titulo {
        text-align: center;
    }
}