/* Seccion */
section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 650px;
    overflow: hidden;
    .bg {
        height: 300px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        filter: brightness(0.25);
        z-index: -1;
    }
    .info {
        position: relative;
        z-index: 1;
        color: white;
        margin: 0 auto 0 auto;
        text-align: center;
        h2 {
            font-weight: 700;
        }
    }
    img {
        height: 300px;
        filter: drop-shadow(0 0 10px #545454);
    }
    h3 {
        margin-top: 15px;
        text-shadow: 0 0 10px #ffffff;
    }
}

/* Descripcion */
.desc {
    color: black;
    span {
        font-weight: 700;
    }
    .vanguardia {
        margin-bottom: 50px;
    }
}

@media (width <=500px) {
    section {
        height: 300px;
        h3 {
            display: none;
        }
        img {
            height: 150px;
            margin-bottom: 30px;
        }
    }
    .desc {
        padding: 40px 50px;
    }
}

@media (width <=380px) {
    .desc {
        padding: 40px 20px;
    }
}