section {
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

section .bg {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    object-position: center;
    filter: brightness(0.25);
    z-index: -1;
}

section .info {
    position: relative;
    z-index: 1;
    color: white;
    margin: 0 auto 0 auto;
    text-align: center;
}

section .info h2 {
    font-weight: 700;
}

section img {
    height: 300px;
    filter: drop-shadow(0 0 10px #545454);
}

section h3 {
    margin-top: 15px;
    text-shadow: 0 0 10px #ffffff;
}

/* Descripcion */
.desc {
    color: black;
}

.desc span {
    font-weight: 700;
}

.desc .vanguardia {
    margin-bottom: 50px;
}

@media (width <=500px) {
    section {
        height: 300px;
    }

    section h3 {
        display: none;
    }

    section img {
        height: 150px;
        margin-bottom: 30px;
    }

    .desc {
        padding: 40px 50px;
    }
}

@media (width <=380px) {
    .desc {
        padding: 40px 20px;
    }
}

#clientes-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    border-radius: 10px;
}

.clientes img {
    transition: all 0.6s;
}

.clientes img:hover {
    transform: scale(1.1);
}