body {
    margin: 0;
    background-color: #ebebeb;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    max-width: 100dvw;
}

body::-webkit-scrollbar {
    display: none;
}

body a {
    text-decoration: none;
}

body a:visited {
    color: #ffffff;
}

/* Preloader */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.spinner {
    border: 6px solid #eee;
    border-top: 6px solid rgb(184, 21, 21);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: girar 1s linear infinite;
}

@keyframes girar {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Navbar */

#nav {
    background-color: #1a1a1a;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar-brand {
    color: white;
    font-weight: 700;
    animation-name: logo;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.navbar-brand:hover {
    color: #ffffffb3;
}

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: white;
    border-radius: 50px;
    margin: 0px 5px;
    transition: background-color 0.7s ease;
}

.nav-link:hover {
    color: #ffffff;
    background-color: #ffffff33;
}

.nav-boton {
    margin: 10px 0;
    color: #ffffff;
    background-color: #ff4646;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: all 0.2s ease;
}

.nav-boton:hover {
    background-color: #b53030;
}

.nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    background-color: #ff4646;
}

.nav-button:hover {
    background-color: #b53030;
}

.active-link {
    background-color: #ffffff33;
    border-radius: 50px;
}

.active-link:hover {
    color: #ffffff;
}

.navbar:hover .active-link:not(:hover) {
    background-color: transparent;
    transition: background-color 0.7s ease;
}

.nav-link:hover {
    background-color: #ffffff33;
    color: #ffffff;
    transition: background-color 0.7s ease;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler,
.navbar-toggler-icon {
    color: #000000;
    background-color: none;
    border: none;
}

/* Cards */

.cards-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
    justify-items: center;
}

@media (width <=1396px) {
    .cards-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (width <=990px) {
    .cards-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (width <=770px) {
    .cards-grid {
        grid-template-columns: 1fr;
    }
}

.card-producto {
    background-color: #ffffff;
    width: 300px;
    height: 530px;
    padding: 25px;
    border-radius: 20px;
    transition: all 0.2s ease;
}

.card-producto:hover {
    cursor: pointer;
    transform: scale(1.01);
    box-shadow: 0px 13px 24px 1px #000000ab;
}

.card-producto__img {
    height: 250px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.card-producto__img img {
    width: 250px
}

.card-producto__categoria {
    height: 60px;
    display: flex;
    align-items: end;
}

.card-producto__categoria p {
    margin: 0 0 5px 0;
    font-size: 12px;
    font-weight: bolder;
    color: #ff4646;
}

.card-producto__nombre {
    height: 80px;
    display: flex;
}

.card-producto__nombre p {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}

.card-producto__info {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-producto__info button {
    font-weight: bolder;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    border: none;
    outline: none;
    background-color: #ff4646;
    transition: all 0.2s ease;
}

.card-producto__info button:hover {
    background-color: #b53030;
}

@media (width <=770px) {
    .card-producto {
        height: 500px;
    }

    .card-producto__info {
        height: 50px;
    }

    .card-producto__nombre p {
        font-size: 16px;
    }
}

#error-buscador {
    font-size: 25px;
    text-align: center;
    margin: 21vh 0;
}

/* Categorias */
.categorias {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.categorias__titulo {
    margin: 0 0 30px 0;
}

.categorias__contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.categoria {
    background-color: #ffffff;
    height: 130px;
    padding: 20px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    transition: all 0.2s ease;
    gap: 20px;
}

.categoria:hover {
    cursor: pointer;
    transform: scale(1.01);
    box-shadow: 0px 13px 24px 1px #000000ab;
}

.categoria__img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.categoria__nombre {
    margin: 0;
    font-weight: 500;
    font-size: 20px;
}

@media (width <=1200px) {
    .categorias__contenedor {
        grid-template-columns: 1fr 1fr;
    }
}

@media (width <=770px) {
    .categorias__contenedor {
        grid-template-columns: 1fr;
    }
}

@media (width <=400px) {
    .categoria__nombre {
        font-size: 16px;
    }
}

/* Footer */
.footer {
    padding: 50px 0 50px;
    display: flex;
    background-color: #1a1a1a;
    color: #ffffff;
    margin-top: 100px;
    align-items: center;
    z-index: 999;
}

.footer__img {
    display: flex;
    justify-content: center;
    width: 50%;
}

.footer__info {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.footer__enlaces,
.footer__contactos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.footer__titulo {
    text-align: center;
    margin: 0 0 15px 0;
    text-shadow: 0 0 10px #ffffff;
}

.footer__list {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.footer__link,
.footer__text {
    font-size: 17px;
    margin: 5px 0;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    gap: 5px;
}

.footer__link:visited {
    color: #ffffff;
}

@media (width <=1000px) {
    .footer__enlaces {
        display: none;
    }
}

@media (width <=800px) {
    .footer {
        flex-direction: column-reverse;
        gap: 50px;
    }

    .footer__info {
        width: 100%;
    }
}

@media (width <=500px) {
    .footer__img img {
        height: 150px;
    }
}

@media (width <=360px) {
    .footer__text {
        font-size: 16px;
    }

    .footer__img img {
        height: 100px;
    }
}

/* Extras */
.negritas-blanco {
    font-weight: 600;
    color: #ffffff;
    text-shadow: 0 0 2px #ffffff;
}

.negritas-rojo {
    font-weight: 600;
    color: #ff4646;
    text-shadow: 0 0 2px #b53030;
}
