.encabezado {
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.encabezado__bg {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    object-position: center;
    filter: brightness(0.25);
    z-index: -1;
}
.encabezado-info {
    position: relative;
    z-index: 1;
    color: #ffffff;
    margin: 0 auto 0 auto;
    text-align: center;
}
.encabezado__logo {
    height: 300px;
    filter: drop-shadow(0 0 10px #545454);
}
.encabezado__texto {
    margin-top: 15px;
    text-shadow: 0 0 10px #ffffff;
}
.encabezado__boton {
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #ffffff;
    margin: 30px 0 50px 0;
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
    transition: all 0.2s ease;
}
.encabezado__boton:hover {
    background-color: #ff4646;
}

@media (width <= 600px) {
    .encabezado {
        height: 400px;
    }
    .encabezado__logo {
        height: 200px;
    }
    .encabezado__texto {
        font-size: 20px;
    }
}
@media (width <=500px) {
    .encabezado {
        height: 350px;
    }
    .encabezado__logo {
        height: 150px;
    }
    .encabezado__boton {
        font-size: 16px;
        padding: 10px;
        margin: 20px 0 30px 0;
    }
}
.servicios {
    margin: 70px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    color: #ffffff;
}
.servicios__bg {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    object-position: center;
    filter: brightness(0.25);
    z-index: -1;
}
.servicios-info {
    display: flex;
}
.servicios-info__izquierda {
    width: 80%;
    display: flex;
    flex-direction: column;
}
.servicios__titulo {
    font-weight: 600;
    text-shadow: 0 0 20px #ffffff;
    margin: 0 0 20px 0;
}
.servicios__lista {
    margin-top: 15px;
}
.servicios__texto {
    font-size: 20px;
    margin: 0;
}
.servicios__texto span {
    font-weight: 500;
    text-shadow: 0 0 20px #ffffff;
}
.servicios-info__derecha {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.servicios__boton {
    background-color: transparent;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    padding: 20px;
    border: 2px solid #ffffff;
    transition: all 0.2s ease;
}
.servicios__boton:hover {
    background-color: #ff4646;
}

.vanguardia__texto,
.garantia__texto {
    font-size: 20px;
}

@media (width <= 990px) {
    .servicios-info {
        flex-direction: column;
        gap: 50px;
    }
    .servicios-info__izquierda,
    .servicios-info__derecha {
        width: 100%;
    }
    .servicios__titulo {
        text-align: center;
    }
}
@media (width <= 768px) {
    .servicios__texto,
    .vanguardia__texto,
    .garantia__texto {
        font-size: 18px;
    }
}
@media (width <= 500px) {
    .servicios__texto,
    .servicios__boton,
    .vanguardia__texto,
    .garantia__texto {
        font-size: 16px;
    }
}


/* Descripcion */
.desc {
    color: black;
}

.desc span {
    font-weight: 700;
}

.desc .vanguardia {
    margin-bottom: 50px;
}


@media (width <=380px) {
    .desc {
        padding: 40px 20px;
    }
}

#clientes-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    border-radius: 10px;
}

.clientes img {
    max-height: 80px;
    transition: all 0.6s;
}

.clientes img:hover {
    transform: scale(1.1);
}