.producto-resumen {
    display: flex;
    gap: 50px;
}
.producto-resumen__boton-responsive {
    font-size: 16px;
    display: none;
}

.producto-resumen__izquierda {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.producto-resumen__nombre {
    font-weight: 700;
}

.producto-resumen__nombre,
.producto-resumen__subtitulo-desc {
    margin: 0 0 15px 0;
}

.producto-resumen__descCorta {
    margin: 0 0 30px 0;
    font-weight: 500;
    font-size: 20px;
}
.producto-resumen__parrafo {
    font-size: 18px;
}

.producto-resumen__desc {
    margin: 0
}

.producto-resumen__derecha {
    width: 40%;
    display: flex;
    flex-direction: column;
}
.producto-resumen__imagen {
    transition: all 0.2s;
    border-radius: 20px;
    margin-bottom: 50px;
}
.producto-resumen__imagen:hover {
    transform: scale(1.01);
}
.producto-resumen__boton, 
.producto-resumen__boton-responsive {
    border: none;
    outline: none;
    padding: 15px;
    color: #ffffff;
    border-radius: 5px;
    background-color: #ff4646;
    font-weight: 700;
    transition: all 0.2s ease;
}
.producto-resumen__boton:hover {
    background-color: #b53030;
}


@media (width <= 992px) {
    .producto-resumen {
        flex-direction: column-reverse;
    }
    .producto-resumen__derecha, .producto-resumen__izquierda {
        width: 100%;
    }
    .producto-resumen__izquierda {
        margin: -20px 0 0 0;
    }
    .producto-resumen__boton {
        display: none;
    }
    .producto-resumen__imagen {
        margin: 0;
    }
    .producto-resumen__boton-responsive {
        display: initial;
        margin-bottom: 50px;
    }
}
@media (width <= 500px) {
    .producto-resumen__nombre {
        font-size: 25px
    }
    .producto-resumen__descCorta {
        font-size: 18px;
    }
    .producto-resumen__parrafo {
        font-size: 16px;
    }
}