.contacto-encabezado {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    color: #ffffff;
}
.contacto-encabezado__bg {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    object-position: center;
    filter: brightness(0.3);
    z-index: -1;
}
.contacto-encabezado__titulo {
    font-weight: 700;
    margin: 0 0 15px 0;
}
.contacto-encabezado__rol {
    margin: 0;
    font-size: 22px;
    font-weight: 600;
}
.contacto-encabezado__icono {
    display: flex;
    align-items: center;
    font-weight: 600;
    gap: 5px;
    margin-right: 10px;
}
.contacto-encabezado__item {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.contacto-info {
    display: flex;
    gap: 30px;
}

.contacto-formulario {
    width: 50%;
}
.contacto-formulario__titulo {
    margin: 0 0 25px 0;
}
.contacto-formulario__form {
    display: flex;
    flex-direction: column;
}
.contacto-formulario__label {
    font-size: 20px;
}
.contacto-formulario__input,
.contacto-formulario__textarea {
    font-size: 18px;
    color: #5b5b5b;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border: none;
}
.contacto-formulario__textarea {
    height: 120px;
}
.contacto-formulario__nota {
    margin: 0 0 25px 0;
    font-size: 15px;
    color: #9b9b9b;
}
.contacto-formulario__boton {
    width: 200px;
    margin: 0 auto;
    color: #ffffff;
    background-color: #ff4646;
    font-weight: 600;
    padding: 15px;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: all 0.2s ease;
}
.contacto-formulario__boton:hover {
    cursor: pointer;
    background-color: #b53030;
}
.requerido {
    color: #fc2105;
}

.contacto-ubicacion {
    width: 50%;
}
.contacto-ubicacion__titulo {
    margin: 0 0 25px 0;
}
.contacto-ubicacion__frame {
    width: 100%;
    height: 80%;
}

@media (width <= 991px) {
    .contacto-info {
        flex-direction: column;
    }
    .contacto-formulario, 
    .contacto-ubicacion {
        width: 100%;
    }
    .contacto-ubicacion {
        height: 500px;
    }
    .contacto-ubicacion__titulo {
        margin: 50px 0 25px 0;
    }
}
@media (width <= 570px) {
    .contacto-encabezado {
        height: 250px;
    }
    .contacto-encabezado__titulo {
        text-align: center;
    }
    .contacto-encabezado__item {
        flex-direction: column;
        align-items: start;
    }
}
